th {
  border: solid  black 1px;
}

table {
  align-items: center;
  align-self: center;
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

input {
  text-align: center;
  width: 50%;
  padding: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

button {
  width: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  color: white;
}

h1 {
  float: centre;
  padding: 5px;
  margin: 0%;
  font-size: xx-large;
  text-decoration: underline;
}

nav {
  text-align: center;
  border: solid black 1px;
  padding: 2%;
  margin-bottom: 1%;
  background: #6E675F;
}

a {
  padding: 5px;
  color: #EDEBD7;
  border: 1px solid black;
  text-decoration: none;
  background-color: black;
  border-radius: 20px;
  margin:  5px;
  padding: 10px;
}

td {
  border: solid black 1px;
}

p {
  padding-bottom: 5px;
}